.login-wrapper {
    margin: 0 auto;
    text-align: center;

    input {
        height: 23px;
        width: 160px;
        padding: 5px;
        font-size: 15px;
        margin: 10px;
    }

    button {
        font-size: 15px;
        color: #fff;
        border: none;
        padding: 10px 20px;
        background: #2F1B3E;
    }
}